* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

button,
input {
  outline: none;
}

a {
    text-decoration: underline;
    color: black;
}

a,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}